* {
  font-family: Roboto;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

.header-main {
  background-color: #3592ff;
  color: #f7f7f7;
  text-align: center;
}

.header-text {
  margin: 0px;
  padding: 25px 0;
  font-size: 3rem;
  font-weight: 700;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rules-list-container {
  justify-items: center;
  text-align: start;
}

.main-game-container {
  text-align: center;
}

.start-button {
  height: 15vh;
  width: 20vw;
  margin: 100px 0;
  background-color: #3592ff;
  border: none;
  border-radius: 10px;
  color: #f7f7f7;
  font-size: 2rem;
  font-weight: 700;
}

.game-container-toggle {
  display: none;
  flex-direction: column;
}

.game-score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score-losses {
  padding-left: 40px;
  padding-right: 40px;
}

.game-image-container {
  display: flex;
  justify-content: space-around;
}

.game-image-container-toggle {
  display: none;
}

.game-image-container img {
  width: 25vw;
  border: 3px solid #3592ff;
  border-radius: 10px;
}

.button-hide {
  display: none;
}

.button-show {
  display: inline-block;
}
